/*CUERPO DE LA PAGINA:--------------------------------------------------------------------------*/
body{
	background-color:#D0E4FE;
}
/*-----------------------------------------------------------------------------------------------*/

/*CABECERA H1:-----------------------------------------------------------------------------------*/
h1{
	color:orange;
	text-align:center;
}
/*-----------------------------------------------------------------------------------------------*/

/*PARRAFOS:--------------------------------------------------------------------------------------*/
/*Parrafo por defecto:*/
p{
	font-family:Monospace;
	font-size:20px;
}

/*Parafo con clases:*/
p.normal{
	font-family:"Arial";
	border:5px solid red; 
}
/*-----------------------------------------------------------------------------------------------*/

/*SELECCION POR ID:------------------------------------------------------------------------------*/
/*Parrafo con ID:*/
/*Se aplican a cualquier objeto que lo referencie.*/
#grande{
	font-family:"Arial";
	font-size:40px;
}
/*-----------------------------------------------------------------------------------------------*/

/*SELECCION POR TIPO:----------------------------------------------------------------------------*/
input[type="text"]{
	width:400px;
	background: #FFFFCC;
}
/*-----------------------------------------------------------------------------------------------*/

/*ETIQUETAS PERSONALIZADAS:----------------------------------------------------------------------*/
/*Etiqueta por defecto:*/
texto{
	color:black;
	font-family:"Arial, Sans-Serif";
	font-size:12px;
}

/*Etiqueta con clases:*/
texto.grosor{
	border: 1px solid #000000;
	white-space: nowrap;
	width: 100%;
	font-weight:bold;
	overflow:hidden;
	text-overflow:ellipsis;
}
/*-----------------------------------------------------------------------------------------------*/